.commonPadding {
  padding: 16px;
}

.navLink {
  padding-right: 16px;
}

a {
  text-decoration: none;
  color: #000
}

.active a{
  color: #fff;
}

a:active{
  color: inherit;
}

.link {
  color: #09d3ac;
}

.paper {
  width: 100%;
  overflow-x: auto;
}

.page {
  margin-top: 20px;
}

.formControl {
  width: 200px;
}

.circularProgress {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.chart {
  width: 100%;
  height: 100%;
}
